PORT=5003
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
JWT_SECRET=supersecretkey
DB_NAME=audio_typing_db
NODE_ENV=development

DB_DIALECT=mysql


# for forget password
forget_Password=http://localhost:3000
ENCRYPTION_KEY=4f5a4e2e6b6c7d9e8c0d2e2a56b1eabf5a9b15f7c6c3d7e7b6e2e2e6b6c7d9e8
ENCRYPTION_IV=4d5a4b8c7e2f5a9b3c7e2b9e5f3a7b9eq2456